<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 wrapper-registration">
  <h2 class="form-signin-heading"><%= t("devise.registration.form.title") %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="col-xs-12 error">
        <%= devise_error_messages! %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t("email") %>
      </div>

      <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t("password_minimum_6") %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t("confirm_password") %>
      </div>

      <div class="field">
        <h5><%= t("devise.registration.form.learning_language") %>
          <p class="settings_ico"><%= f.select :learning_language, User.full_languages.keys
              .map { |learning_language| [learning_language[1], learning_language[0]] }, selected: :eng %></p></h5>
      </div>

      <div class="field">
        <h5><%= t("devise.registration.form.native_language") %>
          <p class="settings_ico"> <%= f.select :native_language, User.full_languages.keys
              .map { |native_language| [native_language[1], native_language[0]] }, selected: :rus %></p></h5>
      </div>

      <div class="field" style="padding-top: 20px">
        <%= f.button t("devise.registration.form.title"), class: "btn btn-lg btn-primary btn-block",
                     data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("shared.navigation.user.signing_up")} %>
      </div>

  <% end %>

  <%= link_to t("shared.navigation.user.sign_in"), new_user_session_path %>

</div>
