<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h2>Настройки пользователя</h2>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, "Почта" %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, "Новый пароль" %> <i>(оставьте поле пустым, если не хотите менять)</i><br/>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Повторите пароль" %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :current_password, "Старый пароль"%> <i> (для подтверждения)</i><br/>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

          <br>

          <div class="actions">
            <%= f.submit "Сохранить изменения" %>
          </div>
      <% end %>

      <p><%= button_to "Удалить аккаунт", registration_path(resource_name), data: {confirm: "Вы уверены?"}, method: :delete %></p>

      <%= link_to "Назад", :back %>

    </div>
  </div>
</div>