<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 wrapper">
        <h2 class="form-signin-heading">Настройки пользователя</h2>
        <%= form_for(resource, as: resource_name, url: update_user_registration_path, html: {method: :put}) do |f| %>

            <div class="col-xs-12 error">
              <%= devise_error_messages! %>
            </div>

            <div class="field">
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Почта" %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Все еще ждем поддтверждения для: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>


            <div class="field">
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Старый пароль" %>
            </div>
            <div class="field">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Новый пароль" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Повторите новый пароль" %>
            </div>

            <div class="field">
              <h5>Родной язык
                <p class="settings_ico"> <%= f.select(:native_language, User.native_languages.keys
                    .map { |native_language| [native_language.titleize, native_language] }) %></p></h5>
            </div>

            <div class="field">
              <h5>Изучаемый язык
                <p class="settings_ico"><%= f.select(:learning_language, User.learning_languages.keys
                    .map { |learning_language| [learning_language.titleize, learning_language] }) %></p></h5>
            </div>

            <div class="field">
              <h5>Количество предложений на одно слово
                <p class="settings_ico"><%= f.number_field :sentences_number, min: 1, max: 20 %></p></h5>
            </div>

            <div class="field">
              <h5>Включить автовоспроизведение аудио?
                <p class="settings_ico"> <%= f.check_box :audio_enable %></p></h5>
            </div>

            <div class="field">
              <h5>Предложения разнообразней, но меньше озвученных
                <p class="settings_ico"> <%= f.check_box :diversity_enable %></p></h5>
            </div>


            <div class="field" style="padding-top: 20px">
              <%= submit_tag "Сохранить изменения", class: "btn btn-lg btn-primary btn-block" %>
            </div>

        <% end %>
        <%= button_to "Удалить аккаунт", registration_path(resource_name),
                      data: {confirm: "Вы уверены? Восстановление аккаунта не возможно."},
                      method: :delete, class: "btn btn-lg btn-danger btn-block" %>

      </div>
    </div>
  </div>
</div>

