<%= form_for(sentence) do |f| %>
  <% if sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
      <% sentence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :sentence %>
    <%= f.text_field :sentence %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
