<h1>Sentences</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Language</th>
      <th>Sentence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.id %></td>
        <td><%= sentence.language %></td>
        <td><%= sentence.sentence %></td>

        <% if current_user.admin? %>
            <td><%= link_to sentence do %>
                  <i class="fa fa-search"></i>
              <% end %> </td>

            <td><%= link_to edit_sentence_path(sentence) do %>
                  <i class="fa fa-edit"></i>
              <% end %> </td>
            <td><%= link_to sentence, method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <i class="fa fa-trash"></i>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentence', new_sentence_path %>

<div class="digg_pagination">
  <%= will_paginate @sentences, previous_label: '❬', next_label: '❭', outer_window: 0 %>
</div>