<p id="notice"><%= notice %></p>

<h1>Eng Sentences</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Sentence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.id %></td>
        <td><%= sentence.sentence %></td>
        <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eng Sentence', new_sentence_path %>
