<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @sentence.id %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @sentence.sentence %>
</p>

<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
