<%= form_for(article) do |f| %>

    <div class="col-xs-12 error">
      <p></p>
      <% if article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul>
              <% article.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="field">
    <h5>Язык текста
      <%= f.select :language, User.learning_languages.keys.map { |lang| [lang.titleize, lang] }, selected: current_user.learning_language %>
      (Текст будет доступен, только для изучаемого языка)
    </h5>
    </div>

    <div class="field">
      <%= f.text_field :title, class: 'form-control', placeholder: "Заголовок", maxlength: 100%>
    </div>

    <div class="field">
      <%= f.text_area :content, class: 'form-control', placeholder: "Текст", maxlength: 100000, style: "resize: vertical; min-height: 300px;" %>
    </div>

    <div class="field">
      <% if current_user.learning_language == 'cmn' || current_user.learning_language == 'jpn' %>
      <h5>Внимание! К сожалению, для поиска слов в китайских и японских текстах слова должны быть разделены пробелом</h5>
      <% end %>
    </div>

    <div class="field center-btn">
      <%= submit_tag "Сохранить", class: "btn btn-lg btn-primary" %>
    </div>

<% end %>
