<%= form_for(article) do |f| %>

    <div class="col-xs-12 error">
      <p></p>
      <% if article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul>
              <% article.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>


    <div class="field">
      <%= f.text_field :title, class: 'form-control', placeholder: t("texts.form.title"), maxlength: 100 %>
    </div>

    <div class="field">
      <%= f.text_area :content, class: 'form-control', placeholder: t("texts.form.text"), maxlength: 100000, style: "resize: vertical; min-height: 300px;" %>
    </div>

    <div class="field">
      <h5><%= t("texts.form.language") %>
        <p class="settings_ico"><%= f.select :language, User.full_languages.keys.map { |lang| [lang[1], lang[0]] }, selected: current_user.learning_language %></p>
      </h5>
    </div>

    <div class="field">
      <% if current_user.learning_language == 'cmn' || current_user.learning_language == 'jpn' %>
          <h5><%= t("texts.form.warning") %></h5>
      <% end %>
    </div>

    <div class="field center-btn">
      <%= f.button t("texts.form.submit"), class: "btn btn-lg btn-primary",
                   data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("texts.form.saving")} %>
    </div>

<% end %>
