<div class="container">
  <div class="col-xs-12 title">
    <h3><%= t("texts.title") %></h3>
  </div>

  <%= form_tag delete_articles_articles_path, method: :put do %>
      <% if @articles.any? %>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" id="word_list">
            <table>
              <th><input type="checkbox" id="checkbox_select_all"onclick="toggle(this)"></th>
              <th style="width: 100%;"><label for="checkbox_select_all" class="checkbox_label"><b><%= t "words.select_all" %></b></label></th>
              <% @articles.each do |article| %>
                  <tr>
                    <td> <%= check_box_tag "ids[]", article.id %> </td>
                    <td><%= link_to article.title, article %></td>
                    <td><%= link_to edit_article_path(article) do %>
                          <i class="fa fa-edit"></i>
                      <% end %> </td>
                    <td><%= link_to article, method: :delete, data: {confirm: 'Are you sure?'} do %>
                          <i class="fa fa-trash"></i>
                      <% end %>
                    </td>

                  </tr>
              <% end %>
            </table>
          </div>
      <% end %>
      <div class="col-xs-12 myButtons">
        <%= link_to new_article_path, class: "btn btn-default" do %>
            <i class="fa fa-plus ico"></i><%= t("texts.buttons.add_text") %>
        <% end %>

        <% if @articles.any? %>
            <%= button_tag(type: 'submit', value: 'delete_articles', class: "btn btn-default") do %>
                <i class="fa fa-trash ico"></i><%= t("texts.buttons.delete_selected") %>
            <% end %>
        <% end %>
      </div>

      <div class="col-xs-12 digg_pagination" id="pagination-mobile">
        <%= will_paginate @articles, previous_label: '<i class="fa fa-angle-left"></i>',
                          next_label: '<i class="fa fa-angle-right"></i>', outer_window: 0 %>
      </div>
  <% end %>
</div>
