<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="row row-content">
      <div class="col-xs-12 wrapper">
        <div class="col-xs-12 links-top">

          <%= link_to t("texts.links.words"), words_path(article: @article) %> |
          <%= link_to t("texts.links.edit"), edit_article_path(@article) %> |
          <%= link_to t("texts.links.delete"), article_path(@article), method: :delete %> |
          <%= link_to t("texts.links.back"), articles_path %>

        </div>
        <div class="col-xs-12">
          <h3 class="form-signin-heading"><%= @article.title %></h3>
        </div>

        <div class="col-xs-12"> <%= @article.content %></div>
      </div>
    </div>
  </div>
</div>




