<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Enwords", root_path, :class => 'navbar-brand' %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <% if signed_in? %>
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Слова<b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li id="learned"><%= link_to words_path status: 'learned' do %>
                      <i class="fa fa-check ico"></i>Выученные (<%= current_user.words.where(language: current_user.learning_language).where(word_statuses: {learned: true}).count %>)
                  <% end %>
                </li>


                <li id="learning"><%= link_to words_path status: 'learning' do %>
                      <i class="fa fa-remove ico"></i>Изучаемые (<%= current_user.words.where(language: current_user.learning_language).where(word_statuses: {learned: false}).count %>)
                  <% end %>
                </li>

                <li id="unknown"><%= link_to words_path status: 'unknown' do %>
                      <i class="fa fa-question ico"></i>Неизвестные (<%=Word.joins(sentences: :translations).where(words: {language: current_user.learning_language},
                                                                                                                   sentences: {language: current_user.learning_language},
                                                                                                                   translations_sentences: {language: current_user.native_language}).where.not(id: WordStatus.select(:word_id).where(user: current_user)).group(:id).length %>)
                  <% end %>
                </li>

              </ul>
            </li>
            <li><%= link_to "Тексты", articles_path %></li>
            <li><%= link_to "Последняя тренировка", training_path %></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="search">
              <%= form_tag words_path, method: 'get' do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Поиск слов" %>
                  <%= button_tag type: "submit", name: nil do %>
                      <i class="fa fa-search"></i>
                  <% end %>
              <% end %>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user" aria-hidden="true"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><%= link_to edit_user_registration_path do %>
                      <i class="fa fa-cog ico"></i>Настройки
                  <% end %>
                </li>

                <li><%= link_to destroy_user_session_path, method: 'delete' do %>
                      <i class="fa fa-sign-out ico"></i>Выйти
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>


      <% else %>
          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to new_user_session_path do %>
                  <i class="fa fa-sign-in ico"></i>Войти
              <% end %>
            </li>
          </ul>
      <% end %>


    </div>
  </div>
</nav>

