<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Enwords", root_path, :class => 'navbar-brand' %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <% if signed_in? %>
          <ul class="nav navbar-nav">

            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Главная", root_path %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Слова<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="<%= 'active' if current_page?(words_path) %>"><%= link_to "Все", words_path %></li>
                <li class="<%= 'active' if current_page?(learning_path) %>"><%= link_to "Изучаемые", learning_path %></li>
                <li class="<%= 'active' if current_page?(learned_path) %>"><%= link_to "Выученные", learned_path %></li>
                <li class="<%= 'active' if current_page?(unset_path) %>"><%= link_to "Остальные", unset_path %></li>
              </ul>
            </li>

            <li class="<%= 'active' if current_page?(practice_path) %>"><%= link_to "Последняя тренеровка", practice_path %></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Настройки', edit_user_registration_path %></li>
            <li><%= link_to destroy_user_session_path, method: 'delete' do %>
                  <span class="glyphicon glyphicon-log-out"></span> Выйти
              <% end %>
            </li>
          </ul>

      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to new_user_registration_path do %>
                  Регистрация
              <% end %>
            </li>

            <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in"></span> Войти
              <% end %>
            </li>
          </ul>
      <% end %>


    </div>
  </div>
</nav>