<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Enwords", root_path, :class => 'navbar-brand' %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <% if signed_in? %>
          <ul class="nav navbar-nav">

            <li><%= link_to "Главная", root_path %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Слова<b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><%= link_to words_path status: 'learned' do %>
                      <span class="fa fa-check item"></span>Выученные (<%= current_user.words.where(language: current_user.learning_language).where(word_statuses: {learned: true}).count %>)
                  <% end %>
                </li>


                <li><%= link_to words_path status: 'learning' do %>
                      <span class="fa fa-remove item"></span>Изучаемые (<%= current_user.words.where(language: current_user.learning_language).where(word_statuses: {learned: false}).count %>)
                  <% end %>
                </li>

                <li><%= link_to words_path status: 'unknown' do %>
                      <span class="fa fa-question item"></span>Неизвестные
                  <% end %>
                </li>

                <li><%= link_to words_path status: 'all' do %>
                      <span class="fa fa-book item"></span>Все
                  <% end %>
                </li>

              </ul>
            </li>
            <li><%= link_to "Коллекции", collections_path %></li>
            <li><%= link_to "Последняя тренировка", training_path %></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="search">
              <%= form_tag words_path, method: 'get' do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Поиск слов" %>
                  <%= button_tag type: "submit", name: nil do %>
                      <span class="fa fa-search"></span>
                  <% end %>
              <% end %>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user" aria-hidden="true"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><%= link_to edit_user_registration_path do %>
                      <span class="fa fa-cog item"></span>Настройки
                  <% end %>
                </li>

                <li><%= link_to destroy_user_session_path, method: 'delete' do %>
                      <span class="fa fa-sign-out item"></span>Выйти
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>


      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to new_user_registration_path do %>
                  Регистрация
              <% end %>
            </li>

            <li><%= link_to new_user_session_path do %>
                  <span class="fa fa-sign-in item"></span>Войти
              <% end %>
            </li>
          </ul>
      <% end %>


    </div>
  </div>
</nav>

