<div class="container">
  <div class="row row-content">
    <div class="col-xs-12" style="text-align: right;">
      <%= link_to_unless_current "English", locale: "en" %> |
      <%= link_to_unless_current "Русский", locale: "ru" %>
    </div>
    <% if user_signed_in? %>
        <% if current_user.try(:vip?) %>
            <p>You are the vip</p>
        <% end %>
        <% if current_user.try(:admin?) %>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Words', words_path %></li>
            <li><%= link_to 'Sentences', sentences_path %></li>
        <% end %>
        <div class="col-xs-12 title">
          <h3>
            <%= t 'static.index.sign_in.title' %>
          </h3>
        </div>
        <div class="col-xs-12">
          <ul>
            <li>
              <h4>
                <a href="<%= words_path status: 'unknown' %>"><%= t 'static.index.sign_in.item_1.link' %></a><%= t 'static.index.sign_in.item_1.text' %>
              </h4>
            </li>
            <li>
              <h4>
                <a href="<%= articles_path %>"><%= t 'static.index.sign_in.item_2.link' %></a><%= t 'static.index.sign_in.item_2.text' %>
              </h4>
            </li>
          </ul>
        </div>

    <% else %>
        <div class="col-xs-12 title">
          <h3>
            <%= t 'static.index.sign_out.item1.text'%>
          </h3>
        </div>

        <div class="col-xs-12" style="text-align: center">
          <h4>
            <%= t 'static.index.sign_out.item2.text'%>
          </h4>

        </div>

        <div class="col-xs-12">
          <%=
            render 'devise/registrations/form'
          %>
        </div>

    <% end %>
  </div>
</div>