<div class="container">
  <div class="row row-content">
    <div class="col-xs-12" style="text-align: right;">
      <%= link_to_unless_current "English", locale: "en" %> |
      <%= link_to_unless_current "Русский", locale: "ru" %>
    </div>
    <% if user_signed_in? %>
        <% if current_user.try(:vip?) %>
            <p>You are the vip</p>
        <% end %>
        <% if current_user.try(:admin?) %>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Words', words_path %></li>
            <li><%= link_to 'Sentences', sentences_path %></li>
        <% end %>
        <div class="col-xs-12 title">
          <h3>
            <%= t 'static.index.sign_in.title' %>
          </h3>
        </div>
        <div class="col-xs-12">
          <ul>
            <li>
              <h4>
                <a href="<%= words_path status: 'unknown' %>"><%= t 'static.index.sign_in.item_1.link' %></a><%= t 'static.index.sign_in.item_1.text' %>
              </h4>
            </li>
            <li>
              <h4>
                <a href="<%= articles_path %>"><%= t 'static.index.sign_in.item_2.link' %></a><%= t 'static.index.sign_in.item_2.text' %>
              </h4>
            </li>
            <li>
              <h4>
                <a href="<%= edit_user_registration_path %>"><%= t 'static.index.sign_in.item_3.link' %></a><%= t 'static.index.sign_in.item_3.text' %>
              </h4>
            </li>
            <li>
              <h4>
                <%= t 'static.index.sign_in.item_4.text_1' %>
                <a href="https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb?hl">Chrome</a>,
                <a href="https://addons.mozilla.org/ru/firefox/addon/google-translator-for-firefox/">Firefox</a>,
                <a href="https://addons.opera.com/ru/extensions/details/googletm-translator/">Opera</a>,
                <%= t 'static.index.sign_in.item_4.text_2' %>
              </h4>
            </li>

            <li>
              <h4>
                <%= t 'static.index.sign_in.item_5.text' %>
              </h4>
            </li>

            <h4 style="margin-bottom: 40px"></h4>
          </ul>
        </div>

    <% else %>
        <div class="col-xs-12 title">
          <h3>
            <%= t 'static.index.sign_out.item1.text' %>
          </h3>
        </div>

        <div class="col-xs-12" style="text-align: center">
          <h4>
            <%= t 'static.index.sign_out.item2.text' %>
          </h4>
          <h4>
            <%= t 'static.index.sign_out.item2.text_2' %>
          </h4>

        </div>

        <div class="col-xs-12">
          <%=
            render 'devise/registrations/form'
          %>
        </div>

    <% end %>
  </div>
</div>