<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 title">
      <h3><%= @title %></h3>
    </div>
    <% if @words.any? %>
        <%= form_tag word_action_words_path, method: :put do %>
            <div class="col-xs-6 col-sm-3 col-sm-offset-3" id="word_list">
              <table>
                <th></th>
                <th><input type="checkbox" onclick="toggle(this)"/></th>
                <th>Выбрать все</th>
                <% @words.each do |word| %>
                    <tr>
                      <td> <%= word.id %> </td>
                      <td> <%= check_box_tag "words_ids[]", word.id %> </td>
                      <td> <%= word.word.capitalize %> </td>
                    </tr>
                <% end %>
              </table>

            </div>
            <div class="col-xs-6 col-sm-2">
              <div style="position: fixed">
                <div class="col-xs-12">
                  <div class="btn-group-vertical" role="group">
                    <%= button_tag(type: 'submit', value: 'to_training', name: 'commit', class: "btn btn-default") { 'Тренировать выбранные' } %>
                    <%= button_tag(type: 'submit', value: 'to_learning', name: 'commit', class: "btn btn-default") { 'Добавить в изучаемые' } unless params[:status] == "learning" %>
                    <%= button_tag(type: 'submit', value: 'to_learned', name: 'commit', class: "btn btn-default") { 'Добавить в выученные' } unless params[:status] == "learned" %>
                    <%= button_tag(type: 'submit', value: 'to_unknown', name: 'commit', class: "btn btn-default") { 'Добавить в неизвестные' } unless params[:status] == "unknown" %>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg digg_pagination" id="pagination-mobile">
                      <%= will_paginate @words, previous_label: '❬', next_label: '❭', page_links: false %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>




        <div class="hidden-xs col-sm-12 digg_pagination" id="pagination-desktop">
          <%= will_paginate @words, previous_label: '❬', next_label: '❭', outer_window: 0 %>
        </div>


    <% else %>
        <div class="col-xs-12">
          <p class="title">В этом списке нет слов, вы можете найти новые слова
            <a href="<%= words_path status: 'unknown' %>">здесь</a></p>
        </div>


    <% end %>


  </div>
</div>