<div class="container">
  <div class="col-xs-12 title">

    <h3><%= if params[:status]
             case params[:status]
               when 'learning'
                 t "words.learning"
               when 'learned'
                 t "words.learned"
               when 'unknown'
                 t "words.unknown"
               when 'all'
                 t "words.all"
             end
           elsif params[:search]
             t "words.search_result"
           elsif params[:article]
             t 'words.words_of_text'
           end %>
    </h3>
  </div>
  <% if @words.any? %>
      <%= form_tag word_action_words_path, method: :put do %>
          <div class="col-xs-7 col-sm-5 col-sm-offset-2 col-md-3 col-md-offset-3" id="word_list">
            <table>
              <th>
                <label>
                  <input type="checkbox" class="words_checkbox" onclick="toggle(this)"> <%= t "words.select_all" %>
                </label>
              </th>

              <% @words.each do |word| %>
                  <tr>
                   <td>
                     <label class="checkbox_label">
                       <%= check_box_tag "ids[#{word.id}]", word.id, false, class: "words_checkbox"%>
                       <%= word.word.capitalize %>
                     </label>

                   </td>
                    <% if current_user.admin? %>
                        <td><%= link_to word do %>
                              <i class="fa fa-search"></i>
                          <% end %> </td>

                        <td><%= link_to edit_word_path(word) do %>
                              <i class="fa fa-edit"></i>
                          <% end %> </td>
                        <td><%= link_to word, method: :delete, data: {confirm: 'Are you sure?'} do %>
                              <i class="fa fa-trash"></i>
                          <% end %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>
            </table>

          </div>

          <div class="col-xs-5 col-sm-3 btn-group-vertical" role="group">
            <%= button_tag(type: 'submit', value: 'to_training', name: 'commit', class: "btn btn-default",
                           data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("loading")}) { t "words.buttons.train_selected" } %>
            <%= button_tag(type: 'submit', value: 'to_training_spelling', name: 'commit', class: "btn btn-default",
                           data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("loading")})  { t 'words.buttons.train_selected_spelling' } %>
            <%= button_tag(type: 'submit', value: 'to_learning', name: 'commit', class: "btn btn-default learning_color",
                           data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("loading")}) { t "words.buttons.add_to_learning" } unless params[:status] == "learning" %>
            <%= button_tag(type: 'submit', value: 'to_learned', name: 'commit', class: "btn btn-default learned_color",
                           data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("loading")})  { t "words.buttons.add_to_learned"} unless params[:status] == "learned" %>
            <%= button_tag(type: 'submit', value: 'to_unknown', name: 'commit', class: "btn btn-default unknown_color",
                           data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> " + t("loading")})  { t "words.buttons.add_to_unknown" } unless params[:status] == "unknown" %>
          </div>

          <% if current_user.admin? %>
              <%= link_to 'New Word', new_word_path %>
          <% end %>

          <div class="col-xs-12 digg_pagination" id="pagination-mobile">
            <%= will_paginate @words, previous_label: '<i class="fa fa-angle-left"></i>',
                              next_label: '<i class="fa fa-angle-right"></i>', outer_window: 0, inner_window: 2 %>
          </div>
      <% end %>


  <% else %>
      <% unless current_page?(words_path status: 'unknown') || current_page?(words_path status: 'all') %>
          <div class="col-xs-12">
            <p class="title"><%= t "words.warning.text1" %>
              <a href="<%= words_path status: 'unknown' %>"><%= t "words.warning.link1" %></a></p>
          </div>
      <% else %>
          <div class="col-xs-12">
            <p class="title"><%= t "words.warning.text2" %>
              <a href="<%= edit_user_registration_path %>"><%= t "words.warning.link2" %></a></p>
          </div>
      <% end %>

  <% end %>
</div>
