<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h1>Изученные слова</h1>

      <%= form_tag update_word_status_words_path, method: :put do %>
          <table>
            <th colspan="1"></th>
            <th>id</th>
            <th>word</th>
            <% @words.each do |word| %>
                <tr>
                  <td> <%= check_box_tag "words_ids[]", word.id %> </td>
                  <td> <%= word.id %> </td>
                  <td><%= word.word %>  </td>
                </tr>
            <% end %>
          </table>
          <%= submit_tag "Изучать" %>
          <%= submit_tag "Скрыть" %>
      <% end %>
    </div>
  </div>
</div>