<div class="container">
  <div class="row row-content">
    <% @sentences.each do |sentence| %>
        <div class="col-xs-12" style="margin-bottom: 20px; text-align: center">
          <h3>
            <% if sentence.audio.nil? %>
                <span class="audioButton glyphicon glyphicon-volume-off"></span>
            <% else %>
                <span class="audioButton glyphicon glyphicon-volume-up" onclick="play()"></span>
                <%= audio_tag("https://audio.tatoeba.org/sentences/eng/#{sentence.id }.mp3", autoplay: false, id: 'audio-play') %>
            <% end %>
            <%= sentence.sentence %> </h3>
          <h4><%= sentence.sentences.first.sentence %> </h4>
        </div>

        <% hash = {'0' => ['#b7b7b7', 'Учить', false, 'btn btn-warning btn-xs'],
                   'false' => ['#f0ad4e', 'Знаю', true, 'btn btn-success btn-xs'],
                   'true' => ['#5cb85c', 'Забыть', nil, 'btn btn-default btn-xs']
        } %>
        <div class="col-xs-12" id="wordlist_training">
          <table>
            <% sentence.words.each do |word| %>
                <% current_bool= 0 %>
                <% if word.wordbooks.where(user_id: current_user.id).any? %>
                    <% current_bool = word.wordbooks.where(user_id: current_user.id).first.learned %>
                <% end %>

                <% value = hash[current_bool.to_s] %>

                <tr style="background-color: <%= value[0]%> ">
                  <td style="width: 100%; "><%= word.word.capitalize %></td>
                  <td><%= button_to value[1], {controller: 'words', action: 'set_status_on_training', bool: value[2], word_id: word.id}, method: :put, class: value[3] , onclick: 'reload_onclick()'%></td>
                </tr>
            <% end %>
          </table>
        </div>
    <% end %>
  </div>
</div>


<div class="digg_pagination" id="pagination-practice">
  <%= will_paginate @sentences, page_links: false, previous_label: '❮', next_label: '❯' %>
</div>

#TODO turn on after development
bugfix for autoplay
<script type="text/javascript" charset="utf-8">
  //  $(document).ready(function () {
  //    play();
  //  });
  //
  //  //audio
  //  function play() {
  //    var audio = document.getElementById("audio-play");
  //    audio.play();
  //  }
</script>

<script type="text/javascript" charset="utf-8">
  function reload_onclick() {
    $("#wordlist_training").load(location.href + " #wordlist_training");
  }
</script>