<div class="container">
  <div class="row row-content">
    <% @sentences.each do |sentence| %>
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 title" style="margin-bottom: 20px;">
          <h3>
            <% if sentence.audio.nil? %>
                <span class="audioButton glyphicon glyphicon-volume-off"></span>
            <% else %>
                <span class="audioButton glyphicon glyphicon-volume-up" onclick="play()"></span>
                <%= audio_tag("https://audio.tatoeba.org/sentences/eng/#{sentence.id }.mp3", autoplay: false, id: 'audio-play') %>
            <% end %>
            <%= sentence.sentence %> </h3>
          <h4><%= sentence.sentences.first.sentence %> </h4>
        </div>


        <div class="col-xs-12 col-lg-8 col-lg-offset-2" id="wordlist_training">
          <table>
            <% n = 0
               sentence.words.each do |word|
                 begin
                   current_bool = word.wordbooks.where(user_id: current_user.id).first.learned
                rescue

                 end


                 left_edge = '3px'
                 right_edge = '30px'
                 current_edge = left_edge

                 colors = {
                     future_bool: true.to_s,
                     current_background: 'rgb(183, 183, 183)',
                     grey_background: 'rgb(183, 183, 183)',
                     orange_background: 'rgb(240, 173, 78)',
                     green_background: 'rgb(92, 184, 92)'}

                 if current_bool.equal?(false)
                   colors[:future_bool]= true.to_s
                   colors[:current_background] = colors[:orange_background]
                   current_edge = left_edge
                 elsif current_bool.equal?(true)
                   colors[:future_bool] = false.to_s
                   colors[:current_background]= colors[:green_background]
                   current_edge = right_edge
                 end

                 button = 'button'+ n.to_s
                 switch = 'switch' + n.to_s
            %>

                <tr class='<%= cycle('odd', 'even') %>' >
                  <td style="width: 100%; "><%= word.word.capitalize %></td>
                  <td>
                    <label class="switch">
                      <%= button_to '', {
                          controller: 'words', action: 'set_status_on_training', bool: colors[:future_bool],
                          word_id: word.id, user_id: current_user.id}, method: :put, form: {id: button},
                                    onclick: "setColor('#{button}', '#{switch}', '#{ colors[:grey_background] }',
                      '#{colors[:orange_background]}', '#{colors[:green_background]}', #{n}, '#{left_edge}', '#{right_edge}')" %>
                      <div class="slider" id='<%= switch %>' style="background-color: <%= colors[:current_background] %>"></div>
                      <div class="round" style="left: <%= current_edge %>"></div>
                      <% n = n + 1 %>
                    </label>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
    <% end %>
  </div>
</div>

<div class="digg_pagination" id="pagination-practice">
  <%= will_paginate @sentences, page_links: false, previous_label: '❮', next_label: '❯' %>
</div>

<script type="text/javascript" charset="utf-8">
  //  $(document).ready(function () {
  //    play();
  //  });
</script>