<% sentence_audio_nil = nil %>
<% sentence_id = nil %>
<div id="training-alerts" style="text-align: center">
  <p id="wrong_alert"><%= t('training.wrong') %></p>
  <p id="right_alert"><%= t('training.right') %></p>
</div>

<div class="container training-div">
  <% if @sentences.empty? %>
      <%= t("training.no_translate") %> "<%= t("devise.registration.edit.diversity_enable") %>
      " <%= link_to t("training.in_settings"), edit_user_registration_path %> <%= %>
  <% else %>
      <% @sentences.each do |sentence| %>

          <% sentence_id = sentence.id %>
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="training-sentence-translate">
            <% sentence_audio_nil = sentence.audio.nil? %>

            <% if current_user.last_training_type == 'training_spelling' %>
                <div class="col-xs-12 field" style="padding: 0;">
                  <div class="col-xs-1" style="padding: 0">
                    <% if sentence_audio_nil %>
                        <span class="audioButton glyphicon glyphicon-volume-off"></span>
                    <% else %>
                        <span class="audioButton glyphicon glyphicon-volume-up training-glyphs" onclick="play()"></span>
                        <%= audio_tag("https://audio.tatoeba.org/sentences/#{sentence.language}/#{sentence.id}.mp3", id: 'audio-play') %>
                    <% end %>
                  </div>

                  <% current_sentence = sentence.sentence
                     current_sentence_without_words = current_sentence
                     @words.each do |word_active_record|
                       word = word_active_record.word
                       if sentence.language == 'cmn' || sentence.language == 'jpn'
                         current_sentence_without_words = current_sentence_without_words.gsub(/#{word}/i, '{  }')
                       else
                         current_sentence_without_words = current_sentence_without_words.gsub(/\b#{word}\b/i, '{  }')
                       end
                     end %>

                  <div class="col-xs-10">
                    <%= text_area_tag 'sentence', current_sentence_without_words, id: "training-sentence-text",
                                      autocomplete: "off", class: 'form-control', maxlength: 200,
                                      style: "resize: none; height: 100%;" %>
                    <p id="training-help"><%= t('training.replace') %></p>
                  </div>

                  <div class="col-xs-1" style="padding: 0">
                    <span id="giveup" class="glyphicon glyphicon-flag training-glyphs"></span>
                  </div>

                  <h3 id="correct-answer" style="display: none"><%= sentence.sentence %> </h3>
                </div>
            <% elsif current_user.last_training_type == 'training' %>
                <% if sentence_audio_nil %>
                    <span class="audioButton glyphicon glyphicon-volume-off"></span>
                <% else %>
                    <span class="audioButton glyphicon glyphicon-volume-up" onclick="play()"></span>
                    <%= audio_tag("https://audio.tatoeba.org/sentences/#{sentence.language}/#{sentence.id}.mp3", id: 'audio-play') %>
                <% end %>

                <h4 id="training-sentence" onclick="play()"><%= sentence.sentence %> </h4>

            <% end %>

            <div class="col-xs-12 field" style="padding: 0;">
              <% begin %>
                  <% trans = sentence.translations.where(language: current_user.native_language).first.sentence %>
                  <button id="translate-btn"><%= t "training.show_translation" %></button>
                  <h4 id="translate" style="display: none"><%= trans %> </h4>
              <% rescue %>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12" id="compare-btn-div">
            <%displ = "" %>
            <% if current_user.last_training_type == 'training_spelling' %>
                <%= button_tag t("training.check"), id: 'compare-btn', class: "btn btn-md btn-success" %>
                <% displ = "display: none" %>
            <% end %>
            <div class="digg_pagination" style="<%= displ %>">
              <% if params[:page] == @page_sum.to_s %>
                  <div id="pagination-training-without_disabled_links">
                    <%= will_paginate @sentences, page_links: false, previous_label: '<i class="fa fa-angle-left"></i>',
                                      next_label: '<i class="fa fa-angle-right"></i>', container: false %>
                    <%= link_to t("training.end"), result_path, id: "end_link" %>
                  </div>
              <% elsif @page_sum == 1 %>
                  <div id="pagination-training">
                    <%= link_to t("training.end"), result_path, id: "end_link" %>
                  </div>
              <% else %>
                  <div id="pagination-training">
                    <%= will_paginate @sentences, page_links: false, previous_label: '<i class="fa fa-angle-left"></i>',
                                      next_label: '<i class="fa fa-angle-right"></i>', container: false %>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>

  <div id="words_in_sentence"></div>
</div>

<script>
  $(".training_words_div").remove();

  $.ajax({
    url: "/words_in_sentence/" + <%= sentence_id %>
  }).done(function (html) {
      return $("#words_in_sentence").replaceWith(html);
  });

  <% if current_user.audio_enable && !sentence_audio_nil && request.original_url != request.referer %>
  $("#audio-play")[0].play();
  <% end %>

  $("#compare-btn").click(function () {
    var user_answer = deletePunctuation($("#training-sentence-text").val());
    var correct_answer = deletePunctuation($("#correct-answer").text());
    if (user_answer == correct_answer) {
      $(".digg_pagination").delay(50).fadeIn(300);
      $("#compare-btn").fadeOut(0);
      $("#right_alert").fadeIn(800).fadeOut(800);
    } else {
      $("#wrong_alert").fadeIn(800).fadeOut(800);
    }
  });

  $("#giveup").click(function () {
    $("#training-sentence-text").val($("#correct-answer").text());
  });

  function deletePunctuation(string) {
    return string.toLowerCase().replace(/[.,\/#!$%\^&\*;:{}=\-_`~()\s]/g, '');
  }

  $("#translate-btn").click(function () {
    $("#translate-btn").fadeOut(0);
    $("#translate").fadeIn(750);
  });

</script>
