<% sentence_audio_nil = nil %>
<div class="container training-div">
  <% @sentences.each do |sentence| %>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="training-sentence-translate">
          <% sentence_audio_nil = sentence.audio.nil? %>
          <% if sentence_audio_nil %>
              <span class="audioButton glyphicon glyphicon-volume-off"></span>
          <% else %>
              <span class="audioButton glyphicon glyphicon-volume-up" onclick="play()"></span>
              <%= audio_tag("https://audio.tatoeba.org/sentences/#{sentence.language}/#{sentence.id}.mp3", id: 'audio-play') %>
          <% end %>
        <h3 id="training-sentence"><%= sentence.sentence %> </h3>
        <br>
        <% begin %>
            <button id="translate-btn"><%= t "training.show_translation" %></button>
            <h4 id="translate" style="display: none"><%= sentence.translations.where(language: current_user.native_language).first.sentence %> </h4>
        <% rescue %>
        <% end %>
      </div>

      <div class="col-xs-12" id="compare-btn-div">
        <% if params[:page] == @page_sum.to_s %>
            <div class="digg_pagination" id="pagination-training-without_disabled_links">
              <%= will_paginate @sentences, page_links: false, previous_label: '<i class="fa fa-angle-left"></i>',
                                next_label: '<i class="fa fa-angle-right"></i>', container: false %>
              <%= link_to t("training.end"), result_path, id: "end_link" %>
            </div>

        <% else %>
            <div class="digg_pagination" id="pagination-training">
              <%= will_paginate @sentences, page_links: false, previous_label: '<i class="fa fa-angle-left"></i>',
                                next_label: '<i class="fa fa-angle-right"></i>', container: false %>
            </div>
        <% end %>
      </div>
      <%= render 'words_in_sentence' %>
  <% end %>
</div>


<script>

  <% if current_user.audio_enable && !sentence_audio_nil && request.original_url != request.referer %>
  $("#audio-play")[0].play();
  <% end %>
  $("#translate-btn").click(function () {
    $("#translate-btn").fadeOut(0);
    $("#translate").fadeIn(750);
  });

</script>
