<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h2>Оставшиеся слова</h2>

      <%= form_tag word_action_words_path, method: :put do %>
          <table>
            <th colspan="1"></th>
            <th>id</th>
            <th>word</th>
            <% @words.each do |word| %>
                <tr>
                  <td> <%= check_box_tag "words_ids[]", word.id %> </td>
                  <td> <%= word.id %> </td>
                  <td><%= word.word %>  </td>
                </tr>
            <% end %>
          </table>
          <%= submit_tag "Добавить в изучаемые" %>
          <%= submit_tag "Добавить в выученные" %>
      <% end %>

      <%= will_paginate @words %>

    </div>
  </div>
</div>

