<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @rus_sentence.id %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @rus_sentence.sentence %>
</p>

<%= link_to 'Edit', edit_rus_sentence_path(@rus_sentence) %> |
<%= link_to 'Back', rus_sentences_path %>
