<p id="notice"><%= notice %></p>

<h1>Eng Sentences</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Sentence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eng_sentences.each do |eng_sentence| %>
      <tr>
        <td><%= eng_sentence.id %></td>
        <td><%= eng_sentence.sentence %></td>
        <td><%= link_to 'Show', eng_sentence %></td>
        <td><%= link_to 'Edit', edit_eng_sentence_path(eng_sentence) %></td>
        <td><%= link_to 'Destroy', eng_sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eng Sentence', new_eng_sentence_path %>
