<p><%= t("hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.reset_password_instructions.text1") %></p>

<p><%= link_to t("devise.mailer.reset_password_instructions.link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailer.reset_password_instructions.text2") %></p>
