<p id="notice"><%= notice %></p>

<h1>Изученные слова</h1>

<%= form_for :learned do |f| %>

    <div class="field">
      <%= f.collection_check_boxes :expertise_ids, @eng_words, :id, :word do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>