<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Enwords</title>

  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>
<%= render 'shared/navigation' %>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" style="position: absolute;width: 100% ; text-align: center"><%= value %></div>
<% end %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>